<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Sales Summary Table</title>
</head>
<body>
<div class="container">
  <h3 class="text-center text-secondary">Final Exam Set B</h3>
  <h3 class="text-center text-secondary">Sales Summary Table</h3>

  <table class="table table-bordered">
      <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Washing Machine</th>
          <th scope="col">Refrigerator</th>
          <th scope="col">Music System</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="data : ${aggregatedData}">
          <td th:text="${data[0]}"></td>
          <td th:text="${data[1]}"></td>
          <td th:text="${data[2]}"></td>
          <td th:text="${data[3]}"></td>
      </tr>
      </tbody>
  </table>



  <form class="bg-primary m-form" method="post" th:action="@{save}" th:object="${salesman}">

      <label>Salesman Name:</label>
      <input type="text" th:field="*{name}" required title="Data cannot be blank">

      <label>Item Type:</label>
      <select id="selectItem" th:field="*{item}" required title="Data cannot be blank">
          <option value="Washing Machine">Washing Machine</option>
          <option value="Refrigerator">Refrigerator</option>
          <option value="Music System">Music System</option>
      </select>

      <label>Sales Amount</label>
      <input type="number" min="1" th:field="*{amount}" required title="Sales cannot be 0">

      <label>Transaction Date</label>
      <input type="date" placeholder="YYYY-MM-DD" th:field="*{dot}" required title="Data cannot be blank">

      <br>
      <input type="submit" class="btn btn-info mt-4" value="Save">
  </form>

  <br>
  <div class="container mt-2 pre-scrollable">
  <table class="table table-bordered">
      <thead>
      <tr>
          <th scope="col">Transaction Code</th>
          <th scope="col">Salesman</th>
          <th scope="col">Item</th>
          <th scope="col">Amount</th>
          <th scope="col">Transaction Date</th>
          <th scope="col"></th>
          <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="salesman : ${salesmen}">
        <td th:text="${salesman.id}"></td>
        <td th:text="${salesman.name}"></td>
        <td th:text="${salesman.item}"></td>
        <td th:text="${salesman.amount}"></td>
        <td th:text="${salesman.dot}"></td>
        <td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${salesman.id})}"
               onclick="return confirm('Are you sure you want to delete this record ?');">Delete</a></td>
        <td><a class="btn btn-success" th:href="@{/edit/{id}(id=${salesman.id})}">Edit</a></td>
      </tr>
      </tbody>
  </table>
  </div>
</div>
</body>
</html>